crypt:
  encoder: base64
  password: null
environment: development
http:
  retry:
    limit: 3
    seconds: 1
logger:
  mask: '***'
  keys_to_mask:
    - MYSQL_PWD
    - PGPASSWORD
package:
  authors:
    - Tatsuya Koishi
  description: VPS上で実行する雑多なユーティリティ。
  email:
    - tkoishi@b-shock.co.jp
  license: MIT
  url: https://github.com/THE-POWERNEWS/writersbase-tools
  version: 1.3．0
ruby:
  jit: false
  bin: /usr/bin/ruby3.3
hourly: []
daily: []
weekly: []
monthly: []
zstd:
  level: 19
access_log_compress:
  dir: /var/log/nginx
  days: 1
mysql_dump:
  host: localhost
  user: root
  password: null
  databases: []
  port: 3306
  days: 7
  dest:
    dir: /var/backups/db
postgresql_dump:
  host: localhost
  user: postgres
  password: null
  databases: []
  port: 5432
  days: 7
  dest:
    dir: /var/backups/db
postgresql_snapshot:
  target: zroot/postgres
  days: 3
  dsn: postgres://postgres@localhost/mastodon
