crypt:
  encoder: base64
  password: null
environment: development
http:
  retry:
    limit: 3
    seconds: 1
logger:
  mask: '***'
  keys_to_mask:
    - MYSQL_PWD
    - PGPASSWORD
package:
  authors:
    - Tatsuya Koishi
  description: VPS上で実行する雑多なユーティリティ。
  email:
    - tkoishi@b-shock.co.jp
  license: MIT
  url: https://github.com/THE-POWERNEWS/writersbase-tools
  version: 1.4.8
ruby:
  bin: /usr/bin/ruby3.3
hourly: []
daily: []
weekly: []
monthly: []
zstd:
  level: 19
access_log_compress:
  dir: /var/log/nginx
  days: 1
mysql_dump:
  host: 127.0.0.1
  user: root
  password: null
  databases: []
  port: 3306
  days: 7
  dest:
    dir: /var/backups/db
postgresql_dump:
  host: localhost
  user: postgres
  password: null
  databases: []
  port: 5432
  days: 7
  dest:
    dir: /var/backups/db
mysql_snapshot:
  target: zroot/mysql
  days: 3
  host: 127.0.0.1
  user: root
  password: null
  port: 3306
postgresql_snapshot:
  target: zroot/postgres
  days: 3
  dsn: postgres://postgres@localhost/mastodon
mastodon:
  user: mastodon
  rails_env: production
  dir: /home/mastodon/repos/mastodon
service_restart:
  services: []
mastodon_maintenance:
  commands:
    - cache recount accounts
    - accounts cull
mastodon_follow:
  account: info
mastodon_media_cleanup:
  commands:
    - media remove-orphans
    - media remove --remove-headers
    - preview_cards remove -c 1
rsync_backup:
  dest: user@host:/path/to/backup
  sources:
    - /etc
    - /usr/local/etc
  excludes:
    - .git
    - .zfs
    - .cache
    - node_modules
    - vendor/bundle
    - tmp
    - '*.bak'
    - '*.log'
    - '*.swp'
    - '*.tmp'
